@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselSampleWork" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselSampleWork" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselSampleWork" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselSampleWork" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselSampleWork" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselSampleWork" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/interior-painting-1.jpg" class="d-block image-carousel-home" alt="Exterior Painting Example">
        </div>
        <div class="carousel-item">
            <img src="~/images/interior-painting-2.jpg" class="d-block image-carousel-home" alt="Interior Painting">
        </div>
        <div class="carousel-item">
            <img src="~/images/interior-painting-3.jpg" class="d-block image-carousel-home" alt="Interior Painting">
        </div>
        <div class="carousel-item">
            <img src="~/images/interior-painting-4.jpg" class="d-block image-carousel-home" alt="Interior Painting">
        </div>
        <div class="carousel-item">
            <img src="~/images/painting-planning.jpg" class="d-block image-carousel-home" alt="Painting Planning">
        </div>
    </div>
</div>

<div class="row pt-5 px-3 px-sm-0">
    <div class="col-7 px-0">
        <img src="/images/interior-painting-1.jpg" alt="Interior Painting" class="image-carousel-home"/>
    </div>
    <div class="col-5 px-0">
        <input class="btn-main" type="button" value="Exterior Services" />
    </div>
</div>

<div class="row pt-5 px-3 px-sm-0">
    <div class="col-5 px-0">
        <input class="btn-main" type="button" value="Interior Services" />
    </div>
    <div class="col-7 px-0">
        <img src="/images/interior-painting-4.jpg" alt="Interior Painting" class="image-carousel-home"/>
    </div>
</div>

<div class="d-sm-flex d-block row pt-5 px-3 px-sm-0">
    <div class="col-5 px-0 mb-5">
        <h4 class="landing-page-header-business-name">PRECISION PAINTWORKS</h4>
        <p class="landing-page-paragraph-business-address pb-5 d-block">1st N CENTER CT ST<br />PORTLAND, OR 97227</p>
        <h4 class="landing-page-header-business-hours d-block d-lg-inline">Summer Hours:</h4><p class="landing-page-paragraph-business-hours d-block d-lg-inline">7:00am to 5:00pm</p>
        <br />
        <h4 class="landing-page-header-business-hours d-block d-lg-inline">Winter Hours:</h4><p class="landing-page-paragraph-business-hours d-block d-lg-inline">8:00am to 8:00pm</p>
    </div>
    <div class="col-7 px-0 ratio ratio-16x9 map">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBeXEVmt0dgQoYVhsvYSBuaYwCfzyJU2ho&q=Moda+Center,Portland+OR"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>

<div id="carouselReviews" class="carousel slide pt-5 px-3 px-sm-0 text-center" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        "I hired XYZ Painters to transform my living room, and they did an exceptional job! 
                        The attention to detail and professionalism were outstanding. I highly recommend their services."
                    </h6>
                    <h5 class="card-title fw-bolder">-Emma T.</h5>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        "From start to finish, the team at XYZ Painters demonstrated expertise and efficiency. 
                        They completed the project on time, and the quality of their work exceeded my expectations. Great job!"
                    </h6>
                    <h5 class="card-title fw-bolder">-Michael T.</h5>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        "XYZ Painters made the exterior of my house look brand new! The crew was punctual, 
                        courteous, and meticulous in their work. I'm extremely satisfied with the results. A top-notch painting service!"
                    </h6>
                    <h5 class="card-title fw-bolder">-Olivia B.</h5>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        "I couldn't be happier with the results of the interior painting done by XYZ Painters.
                        The crew was friendly, and they left my home spotless. I'll definitely be using their services again for future projects."
                    </h6>
                    <h5 class="card-title fw-bolder">-Ethan M.</h5>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        "Choosing XYZ Painters was the best decision I made for my home renovation. 
                        The team's skill and dedication to delivering quality work were evident throughout the project. I wholeheartedly recommend them!"
                    </h6>
                    <h5 class="card-title fw-bolder">-Sophia R.</h5>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselReviews" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselReviews" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>