@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/interior-painting-1.jpg" class="d-block image-carousel-home" alt="Exterior Painting Example">
        </div>
        <div class="carousel-item">
            <img src="~/images/interior-painting-2.jpg" class="d-block image-carousel-home" alt="Interior Painting">
        </div>
        <div class="carousel-item">
            <img src="~/images/interior-painting-3.jpg" class="d-block image-carousel-home" alt="Interior Painting">
        </div>
        <div class="carousel-item">
            <img src="~/images/interior-painting-4.jpg" class="d-block image-carousel-home" alt="Interior Painting">
        </div>
        <div class="carousel-item">
            <img src="~/images/painting-planning.jpg" class="d-block image-carousel-home" alt="Painting Planning">
        </div>
    </div>
</div>

<div class="row pt-5">
    <div class="col-7 px-0">
        <img src="/images/interior-painting-4.jpg" alt="Interior Painting" class="image-carousel-home"/>
    </div>
    <div class="col-5 px-0">
        <input class="btn-main" type="button" value="Exterior Services" />
    </div>
</div>